* {
    font-family: "Noto Sans", sans-serif;
}

body {
    background: linear-gradient(45deg, #571FFF, #D84CFD);
    background-size: 2000% 2000%;
    animation: bg-gradient-animation 10s ease-in-out infinite;
    margin: 0;
    text-align: center;
}

@keyframes bg-gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.login {
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(246, 247, 248, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.close-button a {
    color: white;
    text-decoration: none;
    display: block;
}

.close-button:hover {
    background-color: rgb(37, 36, 39, 80%);
    transition: 0.5s;
}

.form-input {
    font-weight: 600;
    background-origin: padding-box;
    background-clip: border-box;
    color: black;
    background-color: #fff;
    height: 32px;
    padding: 4px 10px;
    border: 3px solid #333;
    border-radius: 15px;
    display: flex;
    margin: auto;
    font-size: 15px;
    width: 370px;
}

.logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 162px;
}

.logo-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 162px;
    white-space: nowrap;
}

.register-window {
    width: 25em;
    margin: auto;
    background: rgb(246,247,248, .6);
    padding: 10px;
    border-radius: 20px;
    margin-top: 12%;
    padding-top: 0;
    padding-bottom: 25px;
}

.login-button {
    font-weight: 600;
    background-origin: padding-box;
    background-clip: border-box;
    color: #16141E;
    background-color: white;
    border-radius: 12px;
    font-size: 16px;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 8px 20px;
}

.login-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.login-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.login-button:hover span {
    padding-right: 25px;
}

.login-button:hover span:after {
    opacity: 1;
    right: 0;
}

.yet {
    font-size: 20px;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.yet:hover {
    text-decoration: underline;
    transition: ease 2s;
}

#loading {
    animation-duration: 3s;
    animation-name: load;
}

@keyframes load{
    from {
        opacity: 0;
}
    20% {
        opacity: 0;
}
    to {
        opacity: 1;
}
}

@media (max-width: 430px) {
    .register-window {
        margin-top: 25vh !important;
        width: 90%;
    }
    .form-input {
        width: 90%;
    }
}
