<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth-styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loading">
    <div class="close-button">
        <a href="/home">✖</a>
    </div>
    <div class="register-window" style="margin-top: 15%;">
    <div class="login">
        <a class="logo-div"><img class="logo" src="https://ask.nenaprasno.ru/static/images/logo.svg"></a>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.login(class="form-input", placeholder="Логин", size=32) }}<br>
                {% for error in form.login.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password(class="form-input", placeholder="Пароль", size=32) }}<br>
                {% for error in form.password.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <button class="login-button" id="submit" name="submit" type="submit"><span>Зарегистрироваться</span></button>
            </div>
        </form>
    </div>
    </div>
    <a href="/register" class="yet"><span>Нет аккаунта? Зарегистрироваться</span></a>
    </div>
</body>
</html>